# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar diretórios do sistema e arquivos pessoais
/Ambiente de Impressão/
/Ambiente de Rede/
/Configurações Locais/
/Cookies/
/Dados de Aplicativos/
/Menu Iniciar/
/Meus Documentos/
/Modelos/
/Recent/
/SendTo/
/Contacts/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/IntelGraphicsProfiles/
/Links/
/Music/
/OneDrive/
/Pictures/
/Searches/
/Videos/

# Ignorar arquivos específicos do sistema
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
*.regtrans-ms
*.blf

# Ignorar node_modules e arquivos de dependências
node_modules/
package-lock.json

# Ignorar configurações de IDEs (VSCode, etc.)
.vscode/
